[DEFAULT]
dark = 0
sound = 0
soundtype = 1
preset = 0
total = 100
current = 0 0 0 0 0 0

[Preset_0]
label = BCR-ABL
desc = Vysis LSI BCR/ABL Dual Color, Dual Fusion Translocation Probe
chimerism = 0
locked = 1
trg_0 = 2R2G
key_0 = 1
trg_1 = 1R1G2F
key_1 = 2
trg_2 = 1R1G1F
key_2 = 3
trg_3 = 2R1G
key_3 = 4
trg_4 = 1R2G
key_4 = 5
trg_5 = 1R1G
key_5 = 6
iscn_0 = (ABL1, BCR)×2
iscn_1 = (ABL1, BCR)×3(ABL1 con BCR×2)
iscn_2 = (ABL1, BCR)×2(ABL1 con BCR×1)
iscn_3 = (ABL1×2)(BCR×1)
iscn_4 = (ABL1×1)(BCR×2)
iscn_5 = (ABL1×1)(BCR×1)
blue = -
aqua = -
green = BCR
red = ABL1-ASS1
chim_0 = a
chim_1 = a
chim_2 = a
chim_3 = a
chim_4 = a
chim_5 = a

[Preset_1]
label = MLL
desc = Vysis MLL break-apart
chimerism = 1
locked = 0
trg_0 = 2F
key_0 = 1
trg_1 = 1R1G1F
key_1 = 2
trg_2 = 1F
key_2 = 3
trg_3 = 1R1F
key_3 = 4
trg_4 = 1G1F
key_4 = 5
key_5 = n/a
trg_5 = n/a
iscn_0 = [no ISCN string provided]
iscn_1 = [no ISCN string provided]
iscn_2 = [no ISCN string provided]
iscn_3 = [no ISCN string provided]
iscn_4 = [no ISCN string provided]
iscn_5 = [no ISCN string provided]
blue = 
aqua = 
green = 
red = 
chim_0 = a
chim_1 = a
chim_2 = a
chim_3 = a
chim_4 = a
chim_5 = a

[Preset_2]
label = empty
desc = 
chimerism = 0
locked = 1
key_0 = n/a
trg_0 = n/a
key_1 = n/a
trg_1 = n/a
key_2 = n/a
trg_2 = n/a
key_3 = n/a
trg_3 = n/a
key_4 = n/a
trg_4 = n/a
key_5 = n/a
trg_5 = n/a
iscn_0 = [no ISCN string provided]
iscn_1 = [no ISCN string provided]
iscn_2 = [no ISCN string provided]
iscn_3 = [no ISCN string provided]
iscn_4 = [no ISCN string provided]
iscn_5 = [no ISCN string provided]
blue = 
aqua = 
green = 
red = 
chim_0 = a
chim_1 = a
chim_2 = a
chim_3 = a
chim_4 = a
chim_5 = a

[Preset_3]
label = empty
desc = 
chimerism = 0
locked = 1
key_0 = n/a
trg_0 = n/a
key_1 = n/a
trg_1 = n/a
key_2 = n/a
trg_2 = n/a
key_3 = n/a
trg_3 = n/a
key_4 = n/a
trg_4 = n/a
key_5 = n/a
trg_5 = n/a
iscn_0 = [no ISCN string provided]
iscn_1 = [no ISCN string provided]
iscn_2 = [no ISCN string provided]
iscn_3 = [no ISCN string provided]
iscn_4 = [no ISCN string provided]
iscn_5 = [no ISCN string provided]
blue = 
aqua = 
green = 
red = 
chim_0 = a
chim_1 = a
chim_2 = a
chim_3 = a
chim_4 = a
chim_5 = a

[Preset_4]
label = empty
desc = 
chimerism = 0
locked = 1
key_0 = n/a
trg_0 = n/a
key_1 = n/a
trg_1 = n/a
key_2 = n/a
trg_2 = n/a
key_3 = n/a
trg_3 = n/a
key_4 = n/a
trg_4 = n/a
key_5 = n/a
trg_5 = n/a
iscn_0 = [no ISCN string provided]
iscn_1 = [no ISCN string provided]
iscn_2 = [no ISCN string provided]
iscn_3 = [no ISCN string provided]
iscn_4 = [no ISCN string provided]
iscn_5 = [no ISCN string provided]
blue = 
aqua = 
green = 
red = 
chim_0 = a
chim_1 = a
chim_2 = a
chim_3 = a
chim_4 = a
chim_5 = a

[Preset_5]
label = empty
desc = 
chimerism = 0
locked = 1
key_0 = n/a
trg_0 = n/a
key_1 = n/a
trg_1 = n/a
key_2 = n/a
trg_2 = n/a
key_3 = n/a
trg_3 = n/a
key_4 = n/a
trg_4 = n/a
key_5 = n/a
trg_5 = n/a
iscn_0 = [no ISCN string provided]
iscn_1 = [no ISCN string provided]
iscn_2 = [no ISCN string provided]
iscn_3 = [no ISCN string provided]
iscn_4 = [no ISCN string provided]
iscn_5 = [no ISCN string provided]
blue = 
aqua = 
green = 
red = 
chim_0 = a
chim_1 = a
chim_2 = a
chim_3 = a
chim_4 = a
chim_5 = a

